[project]
name = "patchapalooza"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.13.3",
    "requests>=2.32.3",
    "termcolor>=2.5.0",
]

[dependency-groups]
dev = [
    "ruff>=0.13.2",
]
